<div class="modal-title">
	<span>Edit Task</span>
	<div></div>
</div>

<form id="edit-todo">
	<div class="text-field">
		<input type="hidden" name="id" value="{{item.itemId}}" />
		<label>Task</label>
		<input
			type="text"
			name="name"
			value="{{item.itemName}}"
			pattern=".{3,50}"
			required
			title="Your to-do item must be 3-50 characters."
		/>
	</div>
	<div class="text-field">
		<label>Description</label>
		<textarea
			name="description"
		>{{item.description}}</textarea>
	</div>
	<div>
		{{#if item.doneness}}
		<div class="done-check checked1">
			<input type="checkbox" name="done" checked="checked" />  <label class="done-label">Done</label>
		</div>
		{{else}}
		<div class="done-check">
			<input type="checkbox" name="done" />  <label class="done-label">Not Done</label>
		</div>
		{{/if}}
	</div>

	<div class="context-box">

		<div class="context-label">

			<span>Context</span>
		</div>

		<div class="contexts">

			<div>
				<div class="context-radio" class="checked original-check">
					<input type="radio" value="{{item.itemContextId}}" checked="checked" name="ContextId" />  <label>{{item.itemContextName}}</label>
				</div>
			{{#each contexts}}
				<div class="context-radio">
					<input type="radio" value="{{contextId}}" name="ContextId" />  <label>{{contextName}}</label>
				</div>
			{{/each}}
			</div>

		</div>
	</div>

	<div class="button-container">
		<button type="submit">Edit Item</button>
		<button type="button" id="delete-todo">Delete Item</button>
	</div>
</form>
