{{> logged-in}}

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<!-- todos -->
<div class="all-items">
	{{#each userContextItem.contexts}}
		<div id="{{contextId}}">
			<div class="context-title">
				<h2>{{contextName}}</h2>
			</div>
			<div class="box-of-items">
			{{#each items}}
				{{#unless doneness}}
					<div id="{{itemId}}" class="item undone-items">
						<div>
							<h4>{{itemName}}</h4>
							<p>{{description}}</p>
							<button class="edit-item" id="{{itemId}}">Edit Task</button>
						</div>
					</div>
				{{/unless}}
			{{/each}}
			{{#each items}}
				{{#if doneness}}
					<div id="{{itemId}}" class="item done-items">
						<div>
							<h4>{{itemName}}</h4>
							<p>{{description}}</p>
							<button class="edit-item" id="{{itemId}}">Edit Task</button>
						</div>
					</div>
				{{/if}}
			{{/each}}
			</div>
		</div>
	{{/each}}
</div>
