{{> logged-in}}

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<!-- todos -->
<div class="all-items">
	{{#each userContextItem.contexts}}
		<div id="{{contextId}}">
			<div class="context-title">
				<h2>{{contextName}}</h2>
			</div>
			<div class="box-of-items">
			{{#each items}}
				<div id="{{itemId}}">
				<h4>{{itemName}}</h4>
					{{#if doneness}}
						<p>complete</p>
					{{else}}
						<p>ready to do!</p>
					{{/if}}
				<p>{{description}}</p>
				<button class="edit-item" id="{{itemId}}">Edit Item</button>
				</div>
			{{/each}}
			</div>
		</div>
	{{/each}}
</div>
