{{> logged-in}}

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<!-- todos -->

<form id="add-todo">
	<div>
		<label>New To-Do Item</label>
		<input
			type="text"
			name="item"
			pattern=".{3,50}"
			required
			title="Your to-do item must be 3-50 characters."
		/>
	</div>
	<div>
		<label>Description</label>
		<textarea
			name="description"
		></textarea>
	</div>
	{{#each userContextItem.contexts}}
		<div class="context-radio" style="background-color: #ccc;">
			<input type="radio" value="{{contextId}}" name="context" required />  <label>{{contextName}}</label>
		</div>
	{{/each}}
	<button type="submit">Add New Item</button>
</form>

<form id="add-context">
	<div>
		<label>New Context</label>
		<input
			type="text"
			name="name"
			pattern=".{3,50}"
			required
			title="Your context must be at least 3 characters."
		/>
	</div>

	<button type="submit">Add New Context</button>
</form>

<div>
	{{#each userContextItem.contexts}}
		<div id="{{contextId}}">
		<h3>{{contextName}}</h3>
			{{#each items}}
				<div id="{{itemId}}">
				<h4>{{itemName}}</h4>
					{{#if doneness}}
						<p>complete</p>
					{{else}}
						<p>ready to do!</p>
					{{/if}}
				<p>{{description}}</p>
				<button class="edit-item" id="{{itemId}}">Edit Item</button>
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>


<script>
	$('#log-out').click(logout);
	$('#settings').click(getSettings);
	$('#add-context').submit(postContexts);
	$('#add-todo').submit(postItems);
	$('.context-radio').click(toggleRadios);
	$('.edit-item').click(function() {
		getModalContent(this.id)
	});
</script>
